<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Animation</title>
</head>
<body>
    <h1>This Is The Animations Index Page</h1>
    <h1>
        <%= animation.title %>
    </h1>
</body>
</html>